<html>

<head>
    <title>Booking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" /> {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/tablet_styles.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
    <link rel="stylesheet" href="{% static 'fullcalendar-scheduler/dist/scheduler.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/typeahead.css' %}" type="text/css" />
</head>

<body class="body">
    <div class="container">
        <div class="row">
            <span style="font-size: 170%;" class="pull-left">{{ room_name }}</span>
            <span style="font-size: 150%;" id="cTime" class="pull-right"></span>​
            <hr/> 
            {% if ongoing %}
            <div class="panel panel-default">
                <div class=" text-center panel-heading">Ongoing Event</div>
                <div class="panel-body">
                    <input hidden id = 'booking_id' value="{{ ongoing.booking_ref }}"> 
                    <span class="pull-left"><strong>{{ ongoing.description }}</strong></span>
                    <span class="pull-right">{{ ongoing.start_time | time:"H:i" }} -  {{ ongoing.end_time | time:"H:i"}}</span>
                    </br>
                    </br>
                    <input id="bk_id" hidden value = "{{ ongoing.booking_ref}}">
                    <span><small>{{ ongoing.contact }}</small></span>
                    <span class="pull-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button id = "end" type="button" class="btn btn-default">End</button>
                    </div>
                </span>
                </div>
            </div>
            <div id="authModel" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Confirm ID</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group has-feedback">
                                <label class="col-sm-2 control-label">ID</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="search" name="search" placeholder="Enter passcode/name">
                                    <span class="glyphicon form-control-feedback" id="search_error"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="confirm" type="button" class="btn btn-default">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
            <div class="panel panel-default">
                <div class=" text-center panel-heading">Upcoming Events</div>
                <div class="panel-body">
                    {% if upcoming.first %}
                        {% for item in upcoming %}
                            <span class="pull-left">{{ item.description }}</span>
                            <span class="pull-right">{{ item.start_time| time:"H:i" }} -  {{ item.end_time| time:"H:i" }}</span>
                            </br></br>
                        {% endfor %}
                    {% else %}
                    <div class="text-center">No Events</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4 center-block">
                        <form method="GET" action="showCalendar/">
                            <button id = "bookRoom" class="btn btn-primary btn-lg center-block">Book Room</button>
                        </form>
                    </div>
            </div></br></br>
            {% else %}
            <div class="row">
                </br>
                <h1 align="center">No events {{ next_event }}</h1></br>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4 center-block">
                        <form method="GET" action="showCalendar/">
                            <button id = "bookRoom" class="btn btn-primary btn-lg center-block">Book Now</button>
                        </form>
                    </div>
                </div></br></br></br>
            </div>
            <div class="panel panel-default">
                <div class=" text-center panel-heading">Upcoming Events</div>
                <div class="panel-body">
                    {% if upcoming.first %}
                        {% for item in upcoming %}
                            <span class="pull-left">{{ item.description }}</span>
                            <span class="pull-right">{{ item.start_time }} -  {{ item.end_time }}</span>
                            </br></br>
                        {% endfor %}
                    {% else %}
                    <div class="text-center">No Events</div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <footer class="footer">
        <div class="container" style="margin-top:15px;">
            <div class="text-center">
                <a id="prev" href="#">
                    <span class="glyphicon glyphicon-chevron-left" style="color:black"></span>
                </a>
                <span id="date_text"></span>
                <a id="next" href="#">
                    <span class="glyphicon glyphicon-chevron-right" style="color:black"></span>
                </a>
            </div>
            <div id="scheduler"></div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
    <script src="{% static 'fullcalendar-scheduler/dist/scheduler.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.1.1/typeahead.jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/autocomplete.js' %}"></script>
    <script type="text/javascript">
        loadSearch();
        var bookings = $.parseJSON('{{ bookings | safe }}');
    </script>
    <script type="text/javascript" src="{% static 'js/tablet_index.js' %}"></script>
</body>

</html>