{% extends "header.html" %}

{% block content %}
<div class="panel panel-default" style = "padding-top:0px; margin-top: -20px;">
  <div class="panel-heading text-center">Avaliable Rooms</div>
  <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Size</th>
        <th>Location</th>
        <th>Features</th>
        <th>Avaliability</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in query_results %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.room_name}}</td>
        <td>{{ item.room_size}}</td>
        <td>{{ item.room_location}}</td>
        <td>{{ item.room_features}}</td>
        <td>{{ item.room_avaliability}}</td>
        <td><button type="button" class="btn btn-default">Book</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}