{% extends "header.html" %}

{% block content %}

<div class="container">
    <form class="form-inline" style="float: right;">
        <div class="form-group">
            <label for="exampleInputName2">Date</label>
            <span style="display:inline-block; width: 2;"></span>
            <input type="date" class="form-control" id="date" value = {{ cDate }}>
        </div>
        <span style="display:inline-block; width: 10;"></span>
        <div class="form-group">
            <label for="exampleInputEmail2">Start Time</label>
            <span style="display:inline-block; width: 2;"></span>
            <input type="time" class="form-control" id="start_time" value = {{ cTime }}>
        </div>
        <div class="form-group">
             <button type="submit" class="btn btn-default">Find Rooms</button>
        </div>
    </form>
</div>
</br>
<div class="container">
    <div class="panel panel-default" style="margin-top: -20px;">
        <div class="panel-heading text-center">Avaliable Rooms</div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Location</th>
                        <th>Features</th>
                        <th>Avaliability</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in query_results %}
                    <tr>
                        <td>{{ forloop.counter}}</td>
                        <td>{{ item.room_name}}</td>
                        <td>{{ item.room_size}}</td>
                        <td>{{ item.room_location}}</td>
                        <td>{{ item.room_features}}</td>
                        <td>{{ item.room_avaliability}}</td>
                        <td><button type="button" class="btn btn-default">Book</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}