<div class="container">
    <div id="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item inline">
                    <div class="row">
                        <label class="col-md-6" for="exampleInputEmail1">Name</label>
                        <div class="col-md-6"><span class="pull-right">{{ room_name }}</span></div>
                    </div>
                </li>
                <li class="list-group-item inline">
                    <div class="row">
                        <label class="col-md-6" for="exampleInputEmail1">Size</label>
                        <div class="col-md-6"><span class="pull-right">{{ room_size }}</span></div>
                    </div>
                </li>
                <li class="list-group-item inline">
                    <div class="row">
                        <label class="col-md-6" for="exampleInputEmail1">Location</label>
                        <div class="col-md-6"><span class="pull-right">{{ room_location }}</span></div>
                    </div>
                </li>
                <li class="list-group-item inline">
                    <div class="row">
                        <label class="col-md-6" for="exampleInputEmail1">Features</label>
                        <div class="col-md-6"><span class="pull-right">{{ room_features }}</span></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <form class="form-horizontal" method="POST" id="viewBooking">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <label for="contact" class="col-sm-2 control-label">Contact</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="contact" name="contact" value={{ contact }}>
                        <span class="glyphicon form-control-feedback" id="contact_error"></span>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="description" name="description" value={{ description }}>
                        <span class="glyphicon form-control-feedback" id="description_error"></span>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="duration" class="col-sm-2 control-label">Duration</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" id="duration" name="duration" value={{duration}}>
                        <span class="glyphicon form-control-feedback" id="duration_error"></span>
                    </div>
                </div>
                <div id="additionalFields"></div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="btn-group" role="group" style="float: right;">
                            <button id="update" type="button" class="btn btn-default">Update</button>
                            <button id="cancelBooking" type="button" class="btn btn-default">Cancel</button>
                        </div>
                        <div class="btn-group" role="group" style="float: left;">
                            <button id="changeDuration" type="button" class="btn btn-default">Change Duration</button>
                            <button id="changeDateTime" type="button" class="btn btn-default">Change Date/Time</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="cancelBookingModal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="exit1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    <h4 class="modal-title text-center">Cancel Booking</h4>
                </div>
                <div class="modal-body">
                    <p id="modalText" align="center">Are you sure you want to cancel this booking</p>
                </div>
                <div class="modal-footer">
                    <button id="cancelBooking2" type="button" class="btn btn-danger">Yes</button>
                    <button id="exit" type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>
<div id="showUpdateBKModal"></div>
<div id="CancelBookingModal"></div>

<div class="btn-toolbar" role="toolbar" style="text-align:center;">
    <div class="btn-group pull-left" role="group">
        <button id="prevBtn" type="button" class="btn btn-default">Prev</button>
        <button id="nextBtn" type="button" class="btn btn-default">Next</button>
    </div>
    <button id="todayBtn" type="button" class="btn btn-default">Today</button>
    <span id="calendarDate" style="text-align:center;"></span>
    <div class="btn-group pull-right" role="group">
        <button id = "dayView" type="button" class="btn btn-default">Day</button>
        <button id = "weekView" type="button" class="btn btn-default">Week</button>
        <button id = "monthView" type="button" class="btn btn-default">Month</button>
    </div>
</div>
<div id="calendar"></div>

<script type="text/javascript">
    function updateTitle(){
        var currentView = $('#calendar').fullCalendar('getView');
        $('#calendarDate').text(currentView.title); 
    }
    function blockToday(){
        var date = $('#calendar').fullCalendar('getDate');
        if (date.format("DD/MM/YYYY") == moment().format("DD/MM/YYYY")){
            return true;
        }
        return false;
    }
    $('#prevBtn').click(function(){
        $('#calendar').fullCalendar('prev');
        updateTitle();
        $('#todayBtn').attr('disabled',blockToday());
    });
    $('#nextBtn').click(function(){
        $('#calendar').fullCalendar('next');
        updateTitle();
        $('#todayBtn').attr('disabled',blockToday());
    });
    $('#todayBtn').click(function(){
        $('#calendar').fullCalendar('changeView','agendaDay');
        $('#calendar').fullCalendar('today');
        updateTitle();
        $('#todayBtn').attr('disabled',true);
    });
    $('#dayView').click(function(){
        $('#calendar').fullCalendar( 'changeView', 'agendaDay');
        updateTitle();
    });
    $('#monthView').click(function(){
        $('#calendar').fullCalendar( 'changeView', 'month');
        updateTitle();
    });
    $('#weekView').click(function(){
        $('#calendar').fullCalendar( 'changeView', 'agendaWeek');
        updateTitle();
    });
    $(document).ready(function() {
        function loadJSON() {
            var json = (("{{jsonResponse}}").replace(/&(l|g|quo)t;/g, function(a, b) {
                return {
                    l: '<',
                    g: '>',
                    quo: '"'
                }[b];
            }));
            json = JSON.parse(json);
            return json;
        }

        function event(title, start, end) {
            return {
                title: 'Meeting',
                start: '2016-12-01T14:30:00',
                end: '2016-12-01T16:30:00',
            };
        }

        function getEvents() {
            var json = loadJSON();
            var events = [event('Meeting', '2016-12-01T14:30:00', '2016-12-01T16:30:00')]
            return events;
        }

        $('#calendar').fullCalendar({
            header: {
                left: '',
                center: '',
                right: ''
            },
            buttonText: {
                today: "Today",
                month: "Month",
                day: "Day",
                week: "Week",
            },
            weekends: false,
            firstDay: 1,
            minTime: "07:00:00",
            height: 'auto',
            margin: '0 auto',
            defaultView: 'agendaWeek',
            maxTime: "20:00:00",
            allDaySlot: false,
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true,
            eventOverlap: false, // allow "more" link when too many events
            events: getEvents(),
        });
        var currentView = $('#calendar').fullCalendar('getView');
        $('#calendarDate').text(currentView.title);
    });
    $('#cancelBooking').click(function() {
        $('#cancelBookingModal').modal('show');
    });

    $('#cancelBooking2').click(function() {
        var booking_id = $('input[name=booking_id]').val();
        var input = $input = $('<input type="text" name="booking_id" hidden/>').val(booking_id);
        $('#viewBooking').append(input);
        $.ajax({
            type: "POST",
            url: "/cancelBooking/",
            dataType: "html",
            data: $('#viewBooking').serialize(),
            success: function(data) {
                $('#modalText').text(data);
                $('#cancelBooking2').remove();
                $('#exit').text('Close').button("refresh");
                $("[id='exit']").click(function() {
                    window.location = "/";
                });
                $("[id='exit1']").click(function() {
                    window.location = "/";
                });
            }
        });
    });

    $('#changeDateTime').click(function() {

    });
</script>