<html>

<head>
    <title>Booking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" /> {% load staticfiles %}
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
    <link rel="stylesheet" href="{% static 'fullcalendar-scheduler/dist/scheduler.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/css-loader.css' %}" type="text/css" />
</head>

<body class="body">
    <div class="loader loader-default" data-text="Loading"></div>
    {% block navbar %} {% include "navbar.html" %} {% endblock %}
    <div class="container">
        {% load widget_tweaks %}
        <form method='POST' action="" class="form-inline" id="findRooms" style="float: right;">
            {% csrf_token %}
            <div class="form-group">
                <label>Date</label>
                <span style="display:inline-block; width: 2;"></span>
                <div class='input-group' id='datepicker'>
                    {{ form.date |add_class:"form-control" }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <span style="display:inline-block; width: 10;"></span>
            <div class="form-group">
                <label>Start Time</label>
                <span style="display:inline-block; width: 2;"></span>
                <div class='input-group' id='timepicker'>
                    {{ form.time | add_class:"form-control"}}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                <span style="display:inline-block; width: 2;"></span>
            </div>
            <div class="form-group">
                <button type="submit" id="find_room_btn" class="btn btn-default pull-right">Find Rooms</button>
            </div>
        </form>
    </div>
    </br>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Avaliable Rooms</div>
            <div class="table-responsive" style="height:{{ table_height }}px; overflow-y: auto">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Location</th>
                            <th>Features</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in query_results %}
                        <tr>
                            <td>{{ item.room_name}}</td>
                            <td>{{ item.room_size}}</td>
                            <td>{{ item.room_location}}</td>
                            <td>{{ item.room_features}}</td>
                            <td>
                                <form method="POST" action="/view_room/">
                                    {% csrf_token %}
                                    <input type="text" id="room_id" name="room_id" value="{{item.room_id}}" hidden>
                                    <button id="view_room_btn" type="submit" class="btn btn-default">Book</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        {% block toolbar %} {% include "toolbar.html" %} {% endblock %}
        <div id="scheduler"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
    <script src="{% static 'fullcalendar-scheduler/dist/scheduler.min.js'%}"></script>
    <script src="{% static 'js/ajax_request.js'%}"></script>
    <script src="{% static 'js/schedulerEvents.js'%}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(window).on("orientationchange", function(event) {
                if (event.orientation == "portrait") {
                    $('#scheduler').fullCalendar('changeView', 'agendaDay');
                    var currentView = $('#scheduler').fullCalendar('getView');
                    $('#calendarDate').text(currentView.title);
                } else if (event.orientation == "landscape") {
                    $('#scheduler').fullCalendar('changeView', 'agendaWeek');
                    var currentView = $('#scheduler').fullCalendar('getView');
                    $('#calendarDate').text(currentView.title);
                }
            });
            $('#datepicker').datetimepicker({
                format: 'DD-MM-YYYY',
            });
            $('#timepicker').datetimepicker({
                format: 'HH:mm',
            });
            var rooms = $.parseJSON('{{ rooms | safe }}');
            var bookings = $.parseJSON('{{ bookings | safe }}');
            var resources = []
            var events = []
            $.each(rooms, function(index, item) {
                resources.push({
                    id: item.room_id,
                    title: item.room_name,
                    size: item.room_size,
                });
            });
            $.each(bookings, function(index, item) {
                events.push({
                    id: item.booking_ref,
                    resourceId: item.room_id,
                    start: item.date + "T" + item.start_time,
                    end: item.date + "T" + item.end_time,
                    color: "#66cc00",
                });
            });
            $('#scheduler').fullCalendar({
                schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                now: "{{ current_date }}",
                editable: false,
                aspectRatio: 1.8,
                scrollTime: '{{ scroll_time }}',
                allDaySlot: false,
                minTime: "07:00:00",
                maxTime: "20:00:00",
                header: {
                    left: '',
                    center: '',
                    right: ''
                },
                defaultView: 'timelineDay',
                resourceColumns: [{
                    labelText: 'Room',
                    field: 'title',
                    width: 'auto',
                }],
                resources: resources,
                events: events,
            });
            var len = '{{ length }}';
            var height = 32;
            if (len > 6){
                height = 6*32
            } else {
                height = len * 32;
            }
            $('#scheduler').fullCalendar('option', 'contentHeight', height + 27);
            var currentView = $('#scheduler').fullCalendar('getView');
            $('#calendarDate').text(currentView.title);
            $('.fc-event-container').css('height','24px');
            $('#scheduler .fc-timeline-event').css('height','27px');
        });
    </script>
</body>

</html>