<div id="modal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="exit_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-center">Booking Details</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Booking ID</label>
                        <div class="col-sm-9">
                            <input type="text" id = "booking_id" class="form-control" readonly value= "{{ booking_id }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Room Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id ="modal_roomname" readonly value = "{{ room_name }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Start Time</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="modal_stime" readonly value = "{{ start_time }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">End Time</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="modal_etime" readonly value="{{ end }}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="exit_modal1" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#calendar").fullCalendar( 'removeEvent', 999 );
    $("[id^='exit_modal']").click(function() {
        if (window.location.pathname.search('tablet') == 1){
            var string = window.location.pathname;
            string = string.replace("/bookRoom/","")
            window.location = string;
        }
        else {
            window.location = "/";
        }
    });
    $('#modal').on('hidden.bs.modal', function () {
        if (window.location.pathname.search('tablet') == 1){
            var string = window.location.pathname;
            string = string.replace("showCalendar/","")
            window.location = string;
        }
        else {
            window.location = "/";
        }
    });
    $(document).keydown( function(event) {
        if (event.which === 13) {
            if ($('#modal').hasClass('in')){
                $('#exit_modal').click();
            }
        }
    }); 
</script>