<html>

<head>
    <title>Booking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" /> {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'fullcalendar/dist/fullcalendar.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body class="body">
    {% block navbar %} {% include "navbar.html" %} {% endblock %}
    <div class="container">
        <div id="row">
            <div class="col-md-6">
                <form class="form-horizontal">
                    {% for item in room_details %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Name</div>
                            <input id="room_name" style="background-color: #ffffff" type="text" disabled class="form-control" id="inputEmail3" value="{{ item.room_name }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Size</div>
                            <input style="background-color: #ffffff" type="text" disabled class="form-control" id="inputEmail3" value="{{ item.room_size }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Location</div>
                            <input style="background-color: #ffffff" type="text" disabled class="form-control" id="inputEmail3" value="{{ item.room_location }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Features</div>
                            <input style="background-color: #ffffff" type="text" disabled class="form-control" id="inputEmail3" value="{{ item.room_features }}">
                        </div>
                    </div>
                    <hr class="visible-xs visible-sm">
                </form>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <form class="form-horizontal" method="POST" id="booking_details">
                    {% csrf_token %}
                    <div class="form-group has-feedback">
                        <label for="contact" class="col-sm-2 control-label">Contact</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="contact" name="contact">
                            <span class="glyphicon form-control-feedback" id="contact_error"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" name="description">
                            <span class="glyphicon form-control-feedback" id="description_error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="book_button" type="submit" class="btn btn-default pull-right">Book</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="showModal"></div>
    </div>
    <div class="container">
        <div id="toolbar">
            <div class="btn-toolbar hidden-xs" role="toolbar" style="text-align:center;">
                <div class="btn-group pull-left" role="group">
                    <button id="prev" type="button" class="btn btn-default ">Prev</button>
                    <button id="next" type="button" class="btn btn-default">Next</button>
                </div>
                <button id="today" type="button" class="btn btn-default">Today</button>
                <span id="calendarDate" style="text-align:center;"></span>
                <div class="btn-group pull-right" role="group">
                    <button id="day" type="button" class="btn btn-default">Day</button>
                    <button id="week" type="button" class="btn btn-default">Week</button>
                    <button id="month" type="button" class="btn btn-default">Month</button>
                </div>
            </div>
            <div class="btn-toolbar visible-xs" role="toolbar" style="text-align:center;">
                <div class="btn-group pull-left" role="group">
                    <button id="prev" type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
                    <button id="next" type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
                <span id="calendarDateMobile" style="text-align:center;"></span>
                <button id="today" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-calendar"></span></button>
                <span id="calendarDate" style="text-align:center;"></span>
                <div class="btn-group pull-right" role="group">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Change View<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a id="day">Day</a></li>
                            <li><a id="week">Week</a></li>
                            <li><a id="month">Month</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="calendar"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/request.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/calendar.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'fullcalendar/dist/fullcalendar.min.js'%}"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" type="text/javascript"></script>
    <script src="{% static 'js/form_validation.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            setTimeout(function(){
                //alert("page Expires");
            }, 120000);//2 Minutes
            $(window).on("orientationchange", function(event) {
                if (event.orientation == "portrait") {
                    $('#calendar').fullCalendar('changeView', 'agendaDay');
                    updateTitle();
                } else if (event.orientation == "landscape") {
                    $('#calendar').fullCalendar('changeView', 'agendaWeek');
                    updateTitle();
                }
            });
            $("#booking_details").validate({
                rules: {
                    'contact': {
                        required: true
                    },
                    'description': {
                        required: true
                    },
                },
            });
            var datetime = moment("{{ datetime }}","DD-MM-YYYYTHH:mm");
            var settings = $.parseJSON('{{ settings | safe }}');
            settings.defaultDate = datetime;
            $('#calendar').fullCalendar(settings);
            updateTitle();
            loadEvents();
            $('#day').click();
            $('#month').unbind('click').click(function(){
                $('#calendar').fullCalendar('changeView', 'month');
                updateTitle();
                loadEvents();
                $('#calendar').fullCalendar('renderEvent', newEvent);
            });
            var newEvent = {
                id : "new_event",
                editable: true,
                color: "#66cc00",
            };
            newEvent.start = datetime.format("YYYY-MM-DDTHH:mm:ss");
            newEvent.end = datetime.add(15, 'minutes').format("YYYY-MM-DDTHH:mm:ss");
            $('#calendar').fullCalendar('renderEvent', newEvent);
        });
    </script>
</body>

</html>