<html>

<head>
    <title>Booking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" /> {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="{% static 'css/typeahead.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/css-loader.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>

<body class="body">
    {% block navbar %} {% include "navbar.html" %} {% endblock %}
    <div class="container">
        <div id="row">
            <div class="col-md-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Name</div>
                            <input id="room_name" style="background-color: #ffffff" type="text" disabled class="form-control" id="inputEmail3" value="{{ room.room_name }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Size</div>
                            <input style="background-color: #ffffff" type="text" disabled class="form-control" id="inputEmail3" value="{{ room.room_size }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Location</div>
                            <input style="background-color: #ffffff" type="text" disabled class="form-control" id="inputEmail3" value="{{ room.room_location }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Features</div>
                            <input style="background-color: #ffffff" type="text" disabled class="form-control" id="inputEmail3" value="{{ room.room_features }}">
                        </div>
                    </div>
                    <hr class="visible-xs visible-sm">
                </form>
            </div>
            <div class="col-md-6">
                <form class="form-horizontal" method="POST" id="booking_details">
                    {% csrf_token %}
                    <div class="form-group has-feedback">
                        <label for="contact" class="col-sm-2 control-label">Contact</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="contact" name="contact">
                            <span class="glyphicon form-control-feedback" id="contact_error"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" autocomplete="off" class="form-control" id="description" name="description">
                            <span class="glyphicon form-control-feedback" id="description_error"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="description" class="col-sm-2 control-label">Repeat</label>
                        <div class="col-sm-10">
                            <select id="recurring" name="recurring" class="form-control">
                              <option value="0"selected>Never</option>
                              <option value="1">Daily</option>
                              <option value="2">Weekly</option>
                              <option value="3">Biweekly</option>
                            </select>
                            <span class="glyphicon form-control-feedback" id="description_error"></span>
                        </div>
                    </div>
                    <div id="end_date" hidden class="form-group has-feedback">
                        <label for="description" class="col-sm-2 control-label">End Date</label>
                        <div class="col-sm-10">
                            <div class='input-group' id='datepicker'>
                                <input type="text" class="form-control" id="recurr_end" name="recurr_end">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <span class="glyphicon form-control-feedback" id="end_error"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">ID</label>
                        <div class="col-sm-10">
                            <input type="text" autocomplete="off" class="form-control" id="search" name = "search" placeholder="Enter passcode/name">
                            <span class="glyphicon form-control-feedback" id="search_error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="book_button" type="submit" class="btn btn-default pull-right">Book</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="showModal"></div>
    </div>
    <div class="container">
        {% block toolbar %} {% include "toolbar.html" %} {% endblock %}
        <div id="calendar"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.1.1/typeahead.jquery.min.js"></script>
    <script src="{% static 'js/ajax_request.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/calendar.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/form_validation.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src = "{% static 'js/autocomplete.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            /*
            $(document).ajaxStart(function () {
                $('#loader').addClass('is-active');
              }).ajaxStop(function () {
                $('#loader').removeClass('is-active');
              });
*/
            loadSearch();
            $("#recurring").change(function() {
                var selected = $(this).val();
                if (selected == 0) {
                    $('#end_date').hide();
                } else {
                    $('#end_date').show();
                }
            });
            $('#recurr_end').datetimepicker({
                format: 'DD-MM-YYYY',
            });
            setTimeout(function() {
                alert("page Expires");
            }, 120000); //2 Minutes
            $(window).on("orientationchange", function(event) {
                if (event.orientation == "portrait") {
                    $('#calendar').fullCalendar('changeView', 'agendaDay');
                    updateTitle();
                } else if (event.orientation == "landscape") {
                    $('#calendar').fullCalendar('changeView', 'agendaWeek');
                    updateTitle();
                }
            });
            var datetime = moment("{{ datetime }}", "DD-MM-YYYYTHH:mm");
            var settings = $.parseJSON('{{ settings | safe }}');
            settings.defaultDate = datetime;
            settings.eventDrop = function(event, delta, revertFunc) {
                var start = event.start;
                var end = event.end;
                if (moment() > start || moment() > end){
                    if (moment().diff(start, 'minutes') > 0){
                        revertFunc();
                    }
                }
            };
            $('#calendar').fullCalendar(settings);
            updateTitle();
            loadEvents();
            $('#day').click();
            $('#month').unbind('click').click(function() {
                $('#calendar').fullCalendar('changeView', 'month');
                updateTitle();
                loadEvents();
                $('#calendar').fullCalendar('renderEvent', newEvent);
            });
            var newEvent = {
                id: "new_event",
                editable: true,
                color: "#A4E786",
            };
            newEvent.start = datetime.format("YYYY-MM-DDTHH:mm:ss");
            newEvent.end = datetime.add(15, 'minutes').format("YYYY-MM-DDTHH:mm:ss");
            $('#calendar').fullCalendar('renderEvent', newEvent);
            $('#prev').attr('disabled', true);
        });
    </script>
</body>

</html>