<div class="container">
    <div id="row">
        <div class="col-md-5">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Name</div>
                        <input id="room_name" style="background-color: #ffffff" type="text" disabled class="form-control" id="inputEmail3" value="{{ room.room_name }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Size</div>
                        <input style="background-color: #ffffff" type="text" disabled class="form-control" id="inputEmail3" value="{{ room.room_size }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Location</div>
                        <input style="background-color: #ffffff" type="text" disabled class="form-control" id="inputEmail3" value="{{ room.room_location }}">
                    </div>
                </div>
                <hr class="visible-xs visible-sm">
            </form>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <form class="form-horizontal" method="POST" id="viewBooking">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <label class="sr-only" for="exampleInputAmount"></label>
                    <div class="input-group">
                        <div class="input-group-addon">Contact</div>
                        <input type="text" class="form-control" id="contact" name="contact" value="{{ booking.contact }}">
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="sr-only" for="exampleInputAmount"></label>
                    <div class="input-group">
                        <div class="input-group-addon">Description</div>
                        <input type="text" class="form-control" id="description" name="description" value="{{ booking.description }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="wrapper text-center">
                        <div class="btn-group" role="group" style="float: center;">
                            <button id="openCal" type="button" class="btn btn-default">Timeline</button>
                            <button id="update" type="button" class="btn btn-default">Update</button>
                            <button id="cancelBooking" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
            <hr class="visible-xs visible-sm">
        </div>
    </div>
    <div id="cancelBookingModal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="exit1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    <h4 class="modal-title text-center">Cancel Booking</h4>
                </div>
                <div class="modal-body">
                    <p id="modalText" align="center">Are you sure you want to cancel this booking</p>
                </div>
                <div id = "modelFooter" class="modal-footer">
                    <button id="remCurrent" type="button" class="btn btn-danger">Yes</button>
                    <button id="exit" type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="cancelBookingModal1" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="exit1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    <h4 class="modal-title text-center">Cancel Booking</h4>
                </div>
                <div class="modal-body">
                    <p id="modalText1" align="center">This is a repeating event</p>
                </div>
                <div id = "modelFooter" class="modal-footer">
                    <button id="remCurrent" type="button" class="btn btn-danger">Delete this event only</button>
                    <button id="remAll" type="button" class="btn btn-danger">Delete all events</button>
                    <button id="exit" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="showUpdateBKModal"></div>
<div id="CancelBookingModal"></div>
<div id="toolbar" style="visibility:hidden">
    <div class="btn-toolbar hidden-xs" role="toolbar" style="text-align:center;">
        <div class="btn-group pull-left" role="group">
            <button id="prev" type="button" class="btn btn-default ">Prev</button>
            <button id="next" type="button" class="btn btn-default">Next</button>
        </div>
        <button id="today" type="button" class="btn btn-default">Today</button>
        <span id="calendarDate" style="text-align:center;"></span>
        <div class="btn-group pull-right" role="group">
            <button id="day" type="button" class="btn btn-default">Day</button>
            <button id="week" type="button" class="btn btn-default">Week</button>
            <button id="month" type="button" class="btn btn-default">Month</button>
        </div>
    </div>
    <div class="btn-toolbar visible-xs" role="toolbar" style="text-align:center;">
        <div class="btn-group pull-left" role="group">
            <button id="prev" type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
            <button id="next" type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
        <span id="calendarDateMobile" style="text-align:center;"></span>
        <button id="today" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-calendar"></span></button>
        <span id="calendarDate" style="text-align:center;"></span>
        <div class="btn-group pull-right" role="group">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Change View<span class="caret"></span>
            </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a id="day">Day</a></li>
                    <li><a id="week">Week</a></li>
                    <li><a id="month">Month</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="calendar"></div>
{% load staticfiles %}
<script src="{% static 'js/request.js' %}" type="text/javascript"></script>
<script src="{% static 'js/calendar.js' %}" type="text/javascript"></script>
<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});
    var booking_id = '{{ booking.booking_ref }}';
    $('#cancelBookingModal').on('hidden.bs.modal', function () {
        if ($('#modalText').html() == "Booking Canceled"){
            window.location.href = '/';
        }
    });
    $('#cancelBookingModal1').on('hidden.bs.modal', function () {
        if ($('#modalText1').html() == "Booking Canceled"){
            window.location.href = '/';
        }
        if ($('#modalText1').html() == "Bookings Canceled"){
            window.location.href = '/';
        }
    });
    $('#openCal').click(function() {
        $('#toolbar').css("visibility",'visible');
        loadCalendar();
    });
    $(document).ready(function() {
        $(window).on("orientationchange",function(event){
            if (event.orientation == "portrait"){
                $('#calendar').fullCalendar('changeView', 'agendaDay');
                updateTitle();
            } else if (event.orientation == "landscape"){
                $('#calendar').fullCalendar('changeView', 'agendaWeek');
                updateTitle();
            }
        });    
        $("#viewBooking").validate({
            rules: {
                'contact': {
                    required: true
                },
                'description': {
                    required: true
                },
            },
        });
    });

    function loadCalendar() {
        var view = "agendaWeek";
        if (isMobile() == true){
            view = "agendaDay";
        } else {
            view = "agendaWeek";
        }
        var datetime = moment("{{ datetime }}","DD-MM-YYYYTHH:mm");
        var settings = $.parseJSON('{{ settings | safe }}');
        settings.defaultDate = datetime;
        settings.defaultView = view;
        var booking_id = "{{ booking.booking_ref }}";        
        $('#calendar').fullCalendar(settings);
        updateTitle();
        loadEvents(booking_id);
        $('#calendar').fullCalendar('removeEvents', booking_id);
    }
</script>