<div class="container">
    <div id="row">
        <div class="col-md-5">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Name</div>
                        <input id="room_name" style="background-color: #ffffff" type="text" disabled class="form-control" id="inputEmail3" value="{{ room.room_name }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Size</div>
                        <input style="background-color: #ffffff" type="text" disabled class="form-control" id="inputEmail3" value="{{ room.room_size }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Location</div>
                        <input style="background-color: #ffffff" type="text" disabled class="form-control" id="inputEmail3" value="{{ room.room_location }}">
                    </div>
                </div>
                <hr class="visible-xs visible-sm">
            </form>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <form class="form-horizontal" method="POST" id="viewBookingForm">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <label class="sr-only" ></label>
                    <div class="input-group">
                        <div class="input-group-addon">Contact</div>
                        <input type="text" class="form-control" id="contact" name="contact" value="{{ booking.contact }}">
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="sr-only" ></label>
                    <div class="input-group">
                        <div class="input-group-addon">Description</div>
                        <input type="text" class="form-control" id="description" name="description" value="{{ booking.description }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="wrapper text-center">
                        <div class="btn-group" role="group" style="float: center;">
                            <button id="openCal" type="button" class="btn btn-default">Timeline</button>
                            <button id="update" type="button" class="btn btn-default">Update</button>
                            <button id="cancelBooking" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
            <hr class="visible-xs visible-sm">
        </div>
    </div>
</div>
<div id="showUpdateBKModal"></div>
<div id="CancelBookingModal"></div>
{% block toolbar %} {% include "toolbar.html" %} {% endblock %}
<div id="calendar"></div>
{% load staticfiles %}
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" type="text/javascript"></script>
<script src="{% static 'js/ajax_request.js' %}" type="text/javascript"></script>
<script src="{% static 'js/form_validation.js' %}" type="text/javascript"></script>
<script src="{% static 'js/click_events.js' %}"></script>
<script src="{% static 'js/calendar.js' %}" type="text/javascript"></script>
<script type="text/javascript"> 
    function updateBookings() {
        $('#viewBooking').empty();
        getUserBookings($('#search').val());
        $('#modalText').html("Are you sure you want to cancel this booking");
        $('#cancelBookingModal').find("button#exit").text('No');
        $('#remAll,#remCurrent').show();
        $('#cancelBookingModal1').find("button#exit").text('Cancel');
        $('#modalText1').text("This is a repeating event");
    }

    var booking_id = '{{ booking.booking_ref }}';

    $('#cancelBookingModal').on('hidden.bs.modal', function() {
        if ($('#modalText').html() == "Booking Canceled") {
            updateBookings();
        }
    });

    $('#cancelBookingModal1').on('hidden.bs.modal', function() {
        if ($('#modalText1').html() == "Booking Canceled") {
            updateBookings();
        }
        if ($('#modalText1').html() == "Bookings Canceled") {
            updateBookings();
        }
    });

    $(document).ready(function() {
        $('#toolbar').hide();
        $(window).on("orientationchange", function(event) {
            if (event.orientation == "portrait") {
                $('#calendar').fullCalendar('changeView', 'agendaDay');
                updateTitle();
            } else if (event.orientation == "landscape") {
                $('#calendar').fullCalendar('changeView', 'agendaWeek');
                updateTitle();
            }
        });
       
    });

    function loadCalendar() {
        var view = "agendaWeek";
        if (isMobile() == true) {
            view = "agendaDay";
        } else {
            view = "agendaWeek";
        }
        var datetime = moment("{{ datetime }}", "DD-MM-YYYYTHH:mm");
        var settings = $.parseJSON('{{ settings | safe }}');
        settings.defaultDate = datetime;
        settings.defaultView = view;
        settings.eventResize = function(event, delta, revertFunc){
            var start = event.start;
            var end = event.end;
            var dur = moment.duration(end.diff(start));
            if (dur.asMinutes() > 120){
                revertFunc();
            }
        };
        settings.eventConstraint = {
            start: moment().subtract(5, 'minutes'),
            end: moment().add(1, 'year'),
        };
        var booking_id = "{{ booking.booking_ref }}";
        $('#calendar').fullCalendar(settings);
        updateTitle();
        loadEvents(booking_id);
        $('#calendar').fullCalendar('removeEvents', booking_id);
    }
</script>