<html>

<head>
    <title>Booking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" /> {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/typeahead.css' %}" type="text/css" />
</head>

<body class="body">
<div id = "loader" class="loader loader-default" data-text="Loading"></div>
    {% block navbar %} {% include "navbar.html" %} {% endblock %}
    <div class="container">
        <div id="row">
            <form id="authUser" method='POST'>
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <label class="sr-only"></label>
                    <div class="input-group">
                    <div class="input-group-addon">ID</div>
                        <input type="text" class="form-control" id="search" name = "search" placeholder="Enter passcode/name">
                        <span style="background: white !important; " class="input-group-addon">
                            <button style = "border:0; background:transparent;" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div id="userBookings"></div>
        <div id="viewBooking"></div>
    </div>
    <div id="cancelBookingModal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="exit1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    <h4 class="modal-title text-center">Cancel Booking</h4>
                </div>
                <div class="modal-body">
                    <p id="modalText" align="center">Are you sure you want to cancel this booking</p>
                </div>
                <div id = "modelFooter" class="modal-footer">
                    <button id="remCurrent" type="button" class="btn btn-danger">Yes</button>
                    <button id="exit" type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="cancelBookingModal1" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="exit1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    <h4 class="modal-title text-center">Cancel Booking</h4>
                </div>
                <div class="modal-body">
                    <p id="modalText1" align="center">This is a repeating event</p>
                </div>
                <div id = "modelFooter" class="modal-footer">
                    <button id="remCurrent" type="button" class="btn btn-danger">Delete this event only</button>
                    <button id="remAll" type="button" class="btn btn-danger">Delete all events</button>
                    <button id="exit" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.1.1/typeahead.jquery.min.js"></script>
    <script src="{% static 'js/ajax_request.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/autocomplete.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/form_validation.js' %}" ></script>
    <script type="text/javascript">
        loadSearch();
        $.mobile.autoInitializePage = false;
        $('#search').on('typeahead:selected', function(e, datum) {
            getUserBookings(datum);
        });
    </script>
</body>

</html>